* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared stylesheet - protfolio.css */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #fd6e0a;
}

.btn {
    background: #fd6e0a;
    border: none;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

header {
    width: 100%;
    background-color: #fff8f3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right bottom;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-contant {
    width: 585px;
}

#banner .banner-contant h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-contant h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-contant p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    cursor: pointer;

}


#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;

}

#about .about-container {
    text-align: center;
    background: #fff8f3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.about-info .info-card p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 20px;
}

#skills {
    padding-top: 130px;

}



#skills .skill-container .skill-box {
    display: flex;
    gap: 20px;
}

.skills-card-container {
    display: flex;
    gap: 20px;
}

.skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000013;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-crad p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.about,
.skill,
.resume {
    padding-top: 130px;
}
.text-center {
    text-align: center;
}
.resume .resume-container {
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 113px auto 0;
    gap: 24px;
}
.resume .resume-container hr{
    margin: 30px 0;
}
.resume .resume-container .section-title{
    color: #474747;
    margin-bottom: 30px;
    font-size: 30px;
}
.resume-card {
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight:bold ;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 130px;
    background: #fff8f3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 116px;
}
footer .footer-container .social{
    max-width: 562px;
}
.footer p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .icons{
    margin-top: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
   
}
footer input[type="text"], footer textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;


}